/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

header {
  background-color: rgb(225, 238, 250);
  padding: 1rem;
}

header a {
  color: rgb(70, 73, 70);
}

header a:hover {
  text-decoration: none;
}

section.main {
  margin-top: 2rem;
}

// do with bootstrap spacing instead? why is it lame by default?
p.notice, p.alert {
  margin-top: 2rem;
  padding: 1rem;
}

#error_explanation {
  padding: 1rem;
  color: #f00;
  border: 1px solid #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

#error_explanation h2 {
  font-size: 1.5rem;
}

form .field, form .actions {
  margin-bottom: 1rem;
}
